<div class="col-lg-5">	
	<h1 class="h1-strong">{{title}}</h1>
	<div *ngIf="status == 'success'" class="alert alert-success">
		Se han actulizado correctamente
	</div>
	<div *ngIf="status == 'error'" class="alert alert-danger">
		No se ha actulizado	
	</div>
	<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
		<p>
			<label>
				Nombre
			</label>
			<input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required>
			<span *ngIf="!name.value&&name.touched">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label>
				Apellidos
			</label>
			<input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required>
			<span *ngIf="!surname.value&&surname.touched">
				El apellido es obligatorio
			</span>
		</p>
		<p>
			<label>
				Nick
			</label>
			<input class="form-control" type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required>
			<span *ngIf="!nick.value&&nick.touched">
				El nick es obligatorio
			</span>
		</p>
		<p>
			<label>
				Correro electrónico
			</label>
			<input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required>
			<span *ngIf="!email.value&&email.touched">
				El nick es obligatorio
			</span>
		</p>
		
			<div *ngIf="user.image">
				<img src="{{url + 'get-image-user/'+user.image}}" />
			</div>
		
		<p>
			<label>AVATAR</label>
			<input (change)="fileChangeEvent($event)" type="file" placeholder="Subir imagen">
		</p>
		<input  type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid">
	</form>
</div>